<!DOCTYPE html>
<html>
<head>
	<title>New Note</title>
	
</head>
<body>
	
	<form action="/new" method="post">
	First Name: <br>
	<input type="text" name="firstname" value="Mickey"><br>
	
	Last name:<br>
	<input type="text" name="lastname" value="Mouse"><br><br>
	
	<input type="submit" value="Submit">
	
</form>
</body>
</html>